{
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "stage-1"
  ],
  "plugins": [
    ["lodash", { "id": ["lodash", "semantic-ui-react"] }],
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }], // `style: true` for less
    ["syntax-dynamic-import"]
  ]
}
